.content-cart {
  display: flex;
  justify-content: center;
  align-items: center;

}

.count_item {
  font-size: large;
  margin-left: 50vh;
  margin-bottom: 10vh;
  text-decoration: underline;
  word-spacing: 5px;
}

.total {
  font-size: 1.5em;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  width: 50vw;
  height: 20vh;
  text-align: right;
  position: relative;
}


.remove-cart {
  height: 5vh;
  width: 8vw;
  font-weight: bold;
  border-radius: 5px;
  background-color: yellow;
}

.remove-cart:hover {
  background-color: rgb(231, 47, 6);
}

.cart-subcontent {
  width: 15vh;
  margin: auto;
}

.cartprice {
  text-align: center;
}

.buy {
  margin-top: 5vh;
  text-align: center;
  width: 20vw;
  position: absolute;
  right: 0px;
  margin-bottom: 2px;
  display: flex;
  gap: 0.5em;
}

.buybtn {
  width: 9vw;
  height: 5vh;
  font-size: large;
  background-color: #197373;
  color: white;
  border-radius: 5px;
  border: 2px solid yellow;
}

.buybtn:hover {
  background-color: yellow;
  color: black;
  border: none;
  border: 2px solid #197373;
}

.clrbtn {
  width: 9vw;
  height: 5vh;
  font-size: large;
  background-color: yellow;
  color: black;
  border-radius: 5px;
  border: 2px solid #197373;
}

.clrbtn:hover {
  background-color: #197373;
  color: white;
  border: none;
  border: 2px solid yellow;
}

.addsubbtn {
  text-align: center;
}

.btncontainer {
  text-align: center;
  margin-top: 10px;
}

.image {
  height: 45vh;
  width: 25vw;
  border-radius: 15px;
}

.image:hover {
  box-shadow: 1px 1px 5px black;
}

.container {
  margin-top: 2%;
}

.cart_details {
  display: flex;
  flex-direction: row;
  height: 45vh;
  width: 25vw;
  justify-content: center;
}

.imgae_container {
  display: flex;
  /* gap: 150px; */
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
  align-items: center;
}

.gobackaddcart {
  background-color: rgb(87, 91, 91);
  height: 8vh;
  width: 10vw;
  border-radius: 10px;
}

.gobackcart {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 300px) and (max-width: 600px) {
  .content-cart {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .count_item {
    margin-left: 0vh;
    text-align: center;
  }

  .total {
    font-size: 1.5em;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    width: 70vw;
    height: 22vh;
    text-align: center;
  }

  .totalprice {
    width: 40vh;
    color: red;
  }

  .remove-cart {
    height: 5vh;
    width: 33vw;
    font-weight: bold;
    border-radius: 5px;
    background-color: yellow;
  }

  .remove-cart:hover {
    background-color: rgb(231, 47, 6);
  }

  .cart-subcontent {
    width: 15vh;
    margin: auto;
  }

  .cartprice {
    text-align: center;
  }

  .buy {
    display: block;
    text-align: center;
    right: 45vw;
    width: 10vw;
    margin-bottom: 25vh;
  }

  .clrbtn {
    height: 6vh;
    width: 40vw;
  }

  .buybtn {
    height: 6vh;
    width: 40vw;
    margin-top: 5px;
  }

  .addsubbtn {
    text-align: center;
  }

  .btncontainer {
    text-align: center;
    margin-top: 10px;
  }

  .image {
    height: 30vh;
    width: 75vw;
    border-radius: 15px;
  }

  .image:hover {
    box-shadow: 1px 1px 10px black;
  }

  .container {
    margin-top: 2%;
  }

  .cart_details {
    display: flex;
    border-radius: 15px;
    flex-direction: row;
    height: 40vh;
    width: 75vw;
    justify-content: center;
  }

  .imgae_container {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
  }

  .gobackaddcart {
    margin-top: 15px;
    width: 45vw;
    height: 7vh;
  }
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
  .content-cart {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .count_item {
    margin-left: 3vh;
  }

  .total {
    font-size: 1.5em;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    width: 70vw;
    height: 15vh;
    text-align: center;
  }

  .remove-cart {
    height: 5vh;
    width: 18vw;
    font-weight: bold;
    border-radius: 5px;
    background-color: yellow;
  }

  .remove-cart:hover {
    background-color: rgb(231, 47, 6);
  }

  .cart-subcontent {
    width: 15vh;
    margin: auto;
  }

  .cartprice {
    text-align: center;
  }

  .buy {
    margin-top: 5vh;
    text-align: center;
    width: 50vw;
  }

  .clrbtn {
    height: 5vh;
    width: 25vw;
  }

  .buybtn {
    height: 5vh;
    width: 25vw;
  }

  .addsubbtn {
    text-align: center;
  }

  .btncontainer {
    text-align: center;
    margin-top: 10px;
  }

  .image {
    height: 30vh;
    width: 45vw;
  }

  .image:hover {
    box-shadow: 1px 1px 10px black;
  }

  .container {
    margin-top: 2%;
  }

  .cart_details {
    display: flex;
    border-radius: 15px;
    flex-direction: row;
    height: 40vh;
    width: 45vw;
    justify-content: center;
    align-items: center;
  }

  .imgae_container {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
  }

  .gobackaddcart {
    background-color: rgb(15, 105, 105);
    height: 8vh;
    width: 25vw;
    border-radius: 20px;
    font-size: 2em;
    font-weight: bold;
  }

  .gobackcart {
    display: flex;
    justify-content: center;
  }
}
