.image_home_container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 10px;
  margin-bottom: 20px;
  justify-content: center;
}

.all_images_home {
  height: 30vh;
  width: 18vw;
}

.underdiv_home {
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.underdiv_home:hover {
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.566);
}

.underdiv_home_two {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topimage_home_two {
  width: 100%;
  border-radius: 20px;
  transition: all;
  height: 300px;
  margin-bottom: 20px;
}

.topimage_home {
  width: 100%;
  border-radius: 20px;
}

.btnaddcard_home {
  width: 9vw;
  height: 5vh;
  font-size: large;
  background-color: #197373;
  color: white;
  border-radius: 5px;
  border: 2px solid yellow;
}

.btnaddcard_home:hover {
  background-color: yellow;
  color: black;
  border: none;
}

.headingproduct {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 40%;
  font-weight: bold;
}

.home_container {
  height: 30vh;
  display: flex;
  justify-content: space-around;
}

.underdiv_two_home {
  box-sizing: border-box;
  overflow: hidden;
  margin: auto;
  width: 95%;
  height: 80%;
}


.price_home {
  font-size: 1.5em;
  font-weight: bold;
}

/* ********************************************media********************************* */

@media screen and (min-width: 300px) and (max-width: 500px) {
  .image_home_container {
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 20px;
  }

  .all_images_home {
    height: 40vh;
    width: 90vw;
  }

  .underdiv_home_two {
    display: flex;
    width: 80vw;
    flex-direction: column;
  }

  .underdiv_home {
    width: 95%;
    margin: auto;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }

  .btnaddcard_home {
    width: 100%;
    height: 15vh;
    border-radius: 10px;
    height: 8vh;
    font-size: 1.5em;
  }

  .headingproduct {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 40%;
    font-weight: bold;
  }

  .underdivHome {
    /* border: 2px solid black; */
    box-sizing: border-box;
    overflow: hidden;
    margin: auto;
    width: 80%;
    height: 70%;
  }

  
}

@media screen and (min-width: 500px) and (max-width: 1000px) {
  .all_images_home {
    height: 40vh;
    width: 80vw;
  }

  .underdiv_home {
    width: 90vw;
    flex-direction: column;
    gap: 10px;
  }

  .underdiv_home_two {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .topimage_home_two {
    width: 100%;
    border-radius: 20px;
    transition: all;
    height: 50vh;
    border: 10px solid black;
  }

  .btnaddcard_home {
    width: 45vw;
  }

  .btnaddcard_home:hover {
    background-color: rgb(102, 201, 237);
  }
  
  .price_home {
    font-size: 1.5em;
    font-weight: bold;
  }
}
