.sucesss {
  height: 50px;
  width: 350px;
  display: flex;
  font-size: 2em;
  font-weight: bold;
  color: rgb(32, 160, 102);
  align-items: center;
  justify-content: center;
  margin: auto;
  border-radius: 10px;
  background-color: rgb(248, 255, 47);
  margin-top: 20vh;
}

.gobackpayment_div {
  text-align: center;
  margin: auto;
}

.gobackpayment {
  width: 12vw;
  height: 7vh;
  font-size: large;
  background-color: #197373;
  color: white;
  border-radius: 5px;
  border: 2px solid yellow;
  margin-top: 10px;
}

.gobackpayment:hover {
  background-color: yellow;
  color: black;
  border: none;
}
