.women_container {
    height: 30vh;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;

    justify-content: space-around;

}

.topimage_women {
    width: 95%;
    height: 25vh;
    border-radius: 20px;
    /* border: 2px solid black; */
}

.image_women_container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    /* border: 2px solid black; */

}



.underdiv_women {
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    border: 1px solid gray;
}

.underdiv_women:hover {
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.566);

}

.all_images_women {
    height: 40vh;
    width: 28vw;

}

.price_women {
    font-size: 1.5em;
    font-weight: bold;
}

.btnaddcard_women {
    width: 15vw;
    border-radius: 20px;
    height: 7vh;
}

.goback {
    width: 20vw;
    height: 8vh;
    border-radius: 20px;
    position: relative;
    left: 40%;
    top: 5vh;
    background: #99ccff
}

@media screen and (min-width:300px) and (max-width:500px) {

    .all_images_women {
        height: 40vh;
        width: 80vw;

    }

    .image_women_container {
        display: flex;
        flex-wrap: wrap;
        width: 95%;
        margin: auto;
        gap: 50px;
        justify-content: center;
        /* border: 2px solid black; */

    }

    .underdiv_women {
        border-radius: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        border: 1px solid gray;
    }

    .headingproduct_women {
        /* border: 2px solid black; */
        text-align: center;
        width: 80vw;
        font-weight: bold;
    }

    .btnaddcard_women {
        width: 55vw;
        border-radius: 20px;
        height: 7vh;
    }

    .goback {
        width: 60vw;
        left: 20%;
    }
}
